
<div class="alert alert-primary" role="alert">
  video-center works!
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <video-detail *ngIf="selectedVideo" [video]="selectedVideo"></video-detail>
    </div>
    <div class="col-sm-3">
      <video-list (SelectVideo)="onSelectVideo($event)" [videos]="videos"></video-list>
    </div>
  </div>
</div>